* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    font-weight: bold;
}

main section {
    padding-top: 56px;
}

.contenedor-cover {
    min-height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png");
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-cover .fa-caret-down {
    opacity: 0;
    animation-name: fade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    color: #fff;
    font-size: 20px;
    position: relative;
    top: calc(100vh - 40px);
    left: 50%;
}

.flex-basis-500 {
    flex: 1;
    flex-basis: 500px;
}

#about-me {
    color: #1e9428;
}

#education {
    color: #94281e;
}

#work-experience {
    color: #1e2894;
}

#it {
    color: #94941e;
}

#skills {
    color: #1e9494;
}

#languages {
    color: #941e94;
}

#contact-info {
    color: #949494;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*
.row * {
    border: 1px dashed grey;
}
*/
.card-image {
    height: 225px;
    margin: auto;
    width: fit-content;
    object-fit: cover;
}

.card-image-contain {
    height: 225px;
    margin: auto;
    width: fit-content;
    object-fit: contain;
}

/*
.scroller {
    height: 600px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 40px;
}

.scroller .scroll-section {
    scroll-snap-align: start;
}
*/